<div class="container py-5">
  <div class="row mb-2">
    <div class="col-md-6 ">
      <div
        class="row g-0 overflow-hidden flex-md-row mb-4  h-md-250 box-img"
      >
        <div class="col">
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            <img src="assets/img/dicas-viagem-01.svg" class="img-responsive" alt="" />
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div
        class="row g-0  overflow-hidden flex-md-row mb-4 h-md-250 box-img "
      >
        <div class="col">
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            <img src="assets/img/dicas-viagem-02.svg" class="img-responsive" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
