 <nav class="navbar navbar-expand-md fixed-top" style="padding-bottom: 0; padding-right: 70px;">
          <a class="navbar-brand" href="#">
            <img class="logo" src="assets/img/logo.svg" alt="Logo">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-md-0">
              <li class="nav-item">
                <img src="assets/img/icons/icons8-mala-64.png" alt="">
                <a class="nav-link active" aria-current="page" href="#">Pacotes</a>
              </li>

              <li class="nav-item">
                <img src="assets/img/icons/icons8-mala-64.png" alt="">
                <a class="nav-link" href="#">Soluções de viagem</a>
              </li>

              <li class="nav-item">
                <img src="assets/img/icons/icons8-mala-64.png" alt="">
                <a class="nav-link" href="#">Passagens</a>
              </li>

              
              <li class="nav-item">
                <img src="assets/img/icons/icons8-mala-64.png" alt="">
                <a class="nav-link" href="#">Passeios e Experiencias</a>
              </li>

              <li class="nav-item">
                <img src="assets/img/icons/icons8-mala-64.png" alt="">
                <a class="nav-link" href="#">Quem Somos</a>
              </li>

            </ul>
          </div>
      </nav>