<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img class="logo" src="assets/img/logo2.svg" alt="Logo" />
  </a>

  <app-toggle class="mx-4" [isOpen]="isMenuOpen" (toggle)="toggleMenu()"> </app-toggle>

  <div class="collapse navbar-collapse" [class.show]="isMenuOpen" id="navbarCollapse">
    <ul class="navbar-nav ms-auto mb-md-0 mx-5">
      <li
        class="nav-item"
        *ngFor="let page of navPages"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }"
        (click)="closeMenu()"
      >
        <div class="nav-content nav-spacing">
          <a class="nav-link" [routerLink]="['/', page.item.toLowerCase()]"> 
          <img [src]="page.img" alt="" />
            <span class="d-block">
              {{ page.item }}
            </span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
