/* styles.scss */

/* Reset + box-model previsível */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

/* Evita overflow horizontal (use com cuidado; ideal é corrigir a causa no componente) */
body {
  width: 100%;
  overflow-x: hidden;
}

/* Altura do header fixo (ajuste aqui UMA vez) */
:root {
  --header-height: 116px;
}

body {
  padding-top: var(--navbar-height);
}

:root {
  // --navbar-height: 116px; /* ajuste exato - Pode remover*/
}

/* Se o header for FIXED-TOP, o main precisa do offset global */
main {
  flex: 1 1 auto;
  padding-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}

/* Footer sempre “empurrado” para baixo quando faltar conteúdo */
footer {
  margin-top: auto;
}

/* (Opcional) Se quiser ajustar a altura do header no mobile */
@media (max-width: 768px) {
  :root {
    --header-height: 96px; /* ajuste conforme sua navbar no mobile */
  }
}
