<app-navbar></app-navbar>

<div class="layout container-fluid">
  <div class="row  layout__grid mt-4">

    <!-- ESQUERDA -->
    <section class="col-12 col-lg-7 layout__left">
      <div class="layout__stack">
        <!-- img principal -->
        <div class="layout__panel layout__panel--green">

        </div>
        <!-- imgs secundarias -->
        <div class="layout__panel layout__panel--green">

        </div>

        <!-- descrição -->
        <div class="layout__panel layout__panel--green"></div>
      </div>
    </section>

    <!-- DIREITA -->
    <aside class="col-12 col-lg-5 layout__right">
      <div class="layout__panel layout__panel--gray"></div>
    </aside>

  </div>
</div>