<app-banner-title-pages [title]="banner.title" [img]="banner.img"></app-banner-title-pages>
<div class="container-fluid">
  <div class="container marketing mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 text-center mt-5">
      <div class="col">
        <img
          src="assets/img/solucoes-viagem/solucoes-cartao-credito.png"
          class="bd-placeholder-img rounded-circle"
          height="140"
          width="140"
          alt=""
        />

        <h3 class="fw-normal mt-3">Quer viajar mas tá sem crédito?</h3>
        <p class="mb-2">
          Quer viajar e não tem o cartão de crédito para parecelar a viagem?
          A gente te ajuda!
        </p>
        <p class="mb-0">
          <a class="btn btn-secondary" href="#">Veja Como! &raquo;</a>
        </p>
      </div>

        <div class="col">
        <img
          src="assets/img/solucoes-viagem/solucoes-procedimentos-aeroporto.png"
          class="bd-placeholder-img rounded-circle"
          height="140"
          width="140"
          alt=""
        />

        <h3 class="fw-normal mt-3">Quer viajar mas tá sem crédito?</h3>
        <p class="mb-2">
          Quer viajar e não tem o cartão de crédito para parecelar a viagem?
          A gente te ajuda!
        </p>
        <p class="mb-0">
          <a class="btn btn-secondary" href="#">Veja Como! &raquo;</a>
        </p>
      </div>

        <div class="col">
        <img
          src="assets/img/solucoes-viagem/solucoes-seguro-viagem.png"
          class="bd-placeholder-img rounded-circle"
          height="140"
          width="140"
          alt=""
        />

        <h3 class="fw-normal mt-3">Quer viajar mas tá sem crédito?</h3>
        <p class="mb-2">
          Quer viajar e não tem o cartão de crédito para parecelar a viagem?
          A gente te ajuda!
        </p>
        <p class="mb-0">
          <a class="btn btn-secondary" href="#">Veja Como! &raquo;</a>
        </p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 text-center mt-5">
      <div class="col">
        <img
          src="assets/img/solucoes-viagem/solucoes-cartao-credito.png"
          class="bd-placeholder-img rounded-circle"
          height="140"
          width="140"
          alt=""
        />

        <h3 class="fw-normal mt-3">Quer viajar mas tá sem crédito?</h3>
        <p class="mb-2">
          Quer viajar e não tem o cartão de crédito para parecelar a viagem?
          A gente te ajuda!
        </p>
        <p class="mb-0">
          <a class="btn btn-secondary" href="#">Veja Como! &raquo;</a>
        </p>
      </div>

        <div class="col">
        <img
          src="assets/img/solucoes-viagem/solucoes-procedimentos-aeroporto.png"
          class="bd-placeholder-img rounded-circle"
          height="140"
          width="140"
          alt=""
        />

        <h3 class="fw-normal mt-3">Quer viajar mas tá sem crédito?</h3>
        <p class="mb-2">
          Quer viajar e não tem o cartão de crédito para parecelar a viagem?
          A gente te ajuda!
        </p>
        <p class="mb-0">
          <a class="btn btn-secondary" href="#">Veja Como! &raquo;</a>
        </p>
      </div>

        <div class="col">
        <img
          src="assets/img/solucoes-viagem/solucoes-seguro-viagem.png"
          class="bd-placeholder-img rounded-circle"
          height="140"
          width="140"
          alt=""
        />

        <h3 class="fw-normal mt-3">Quer viajar mas tá sem crédito?</h3>
        <p class="mb-2">
          Quer viajar e não tem o cartão de crédito para parecelar a viagem?
          A gente te ajuda!
        </p>
        <p class="mb-0">
          <a class="btn btn-secondary" href="#">Veja Como! &raquo;</a>
        </p>
      </div>
    </div>
    
    
  </div>
</div>
<app-depoimentos></app-depoimentos>
<app-btn-whatsapp></app-btn-whatsapp>
