
.box-img {
  max-width: 100% !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // padding: 0;
  margin-top: 50px;
  // border: 2px solid;
  background-color: #f9f2d4;
  margin-left: 15%;
  border-radius: 20px;
}

.box-img img {
  max-width: 100% !important;
  // height: 300px;
  object-fit: cover; // opcional
  display: block;
 }

:host ::ng-deep .p-carousel-content {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 0 !important;
    // border: 2px solid;
}

:host ::ng-deep button.p-button.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text {
  display: none;
}

:host ::ng-deep .p-carousel-indicator-button {
  background-color: #0647a8bb !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

:host ::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: #DF6416 !important;
}


@media (max-width: 1440px) {
  .box-img {
    height: 400px !important;   // reduz altura
  }
}

@media (max-width: 1024px) {
  .box-img {
    height: 300px !important;
  }
}

 
 

 
