
.box-img {
  // max-width: 100% !important;
  height: 500px !important;
  display: flex;
  // justify-content: center;
  padding: 0;
  margin: 0;
   overflow: hidden;
}

.box-img img {
  max-width: 100% !important;
  height: 100%;
  object-fit: cover; // opcional
  display: block;
}

:host ::ng-deep .p-carousel-content {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 0 !important;
}

:host {
  display: block;
  overflow-x: hidden; // corta qualquer estouro do carousel
}

/* PrimeNG carousel - impedir track maior que o container */
:host ::ng-deep .p-carousel,
:host ::ng-deep .p-carousel-content,
:host ::ng-deep .p-carousel-items-content {
  width: 100%;
  overflow: hidden;
}

/* garante item ocupando 100% e não gerando “sobra” */
:host ::ng-deep .p-carousel-item {
  flex: 0 0 100%;
}


:host ::ng-deep button.p-button.p-button-icon-only.p-button-rounded.p-button-secondary.p-button-text {
  display: none;
}

:host ::ng-deep .p-carousel-indicator-button {
  background-color: #0647a8bb !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

:host ::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: #DF6416 !important;
}


@media (max-width: 1440px) {
  .box-img {
    height: 400px !important;   // reduz altura
  }
}

@media (max-width: 1024px) {
  .box-img {
    height: 300px !important;
  }
}

 
 

 
