.hero{
  // background-color: red;
  max-width: 100%;
  padding: 0;

 
  .btn-carrossel{
    background-color: #DF6416;
  }
  .btn-next{
    background-color: red;
  }

  .btn-control{
    width: 40px;
  }
}