<section class="hero text-center container">
  <div class="row">
    <div id="carouselExampleCaptions" class="carousel slide" style="border: 4px solid; padding: 0;">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active btn-carrossel" style="background-color: #0648A8;"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          class="btn-carrossel"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          class="btn-carrossel"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/banner-01.svg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner-02.svg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item active">
          <img src="./assets/img/banner-03.svg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <img src="assets/img/icons/icons8-prev.png" class="btn-control" alt="">
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <img src="assets/img/icons/icons8-next.png" class="btn-control" alt="">
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
